.fundo {
  background-image: url('/img/ranger.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.janela {
  width: 100%;
  max-width: 650px;
  min-height: 70vh;
  background-color: #827582a7;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(243, 6, 136, 0.1);
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px;
  gap: 20px; 
}


.titulo-janela {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

.subJanela {
  width: 100%;
  min-height: 350px; 
  background-color: rgba(39, 44, 44, 0.8);
  padding: 40px 30px;
  border-radius: 8px;
  text-align: left; 
  font-size: 24px;
  font-weight: bold;
  color: #fbfafa;
}